<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889583220286-iilktetljcojck1ap2e92s8g1vvprltq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889583220286-iilktetljcojck1ap2e92s8g1vvprltq</string>
	<key>API_KEY</key>
	<string>AIzaSyB1PWa5t6w3tvfcmpPeP5l3hGT8qvYLpCM</string>
	<key>GCM_SENDER_ID</key>
	<string>889583220286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vikingrag.flutter</string>
	<key>PROJECT_ID</key>
	<string>todoflutter-c3cc0</string>
	<key>STORAGE_BUCKET</key>
	<string>todoflutter-c3cc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889583220286:ios:cde4e4bfa0338415af036f</string>
</dict>
</plist>